apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: development
spec:
  replicas: 3
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: gassouma530975/testdeploy:back-9f21cb2cb5633ecc27f15bd761ef0b5df9ce9d4bback-7b0aea2d4e9d0b02dfd356c96164db12303732bbback
          ports:
            - containerPort: 80
          volumeMounts:
            - name: secret-volume
              mountPath: "/etc/secrets"
              readOnly: true
          resources:
            limits:
              memory: "256Mi" # Maximum memory allowed
              cpu: "20m" # Maximum CPU allowed (200 milliCPU)
            requests:
              memory: "128Mi" # Initial memory request
              cpu: "10m" # Initial CPU request
      volumes:
        - name: secret-volume
          secret:
            secretName: db-credentials

---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: development
spec:
  type: ClusterIP
  ports:
    - port: 3000
      targetPort: 3000
      protocol: TCP
  selector:
    app: backend

---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: backend-hpa
  namespace: development
spec:
  maxReplicas: 10 # define max replica count
  minReplicas: 3 # define min replica count
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: backend-deployment
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 50
